.v-spacebetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button>svg {
 display: inline-block;
}
form.form-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  border: 2px solid #d1d5db;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
